.about-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/top05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
.page-overlay span{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.page-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-transform: uppercase;
  font-size: 42px;
  overflow: hidden;
}
.page-head h2{
  transform: translateY(100px);
}
.page-overlay span:nth-of-type(1){
  clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 20%);
}
.page-overlay span:nth-of-type(2){
  clip-path: polygon(0 20%, 100% 20%, 100% 40%, 0 40%);
}
.page-overlay span:nth-of-type(3){
  clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
}
.page-overlay span:nth-of-type(4){
  clip-path: polygon(0 60%, 100% 60%, 100% 80%, 0 80%);
}
.page-overlay span:nth-of-type(5){
  clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
}
.text-slider { 
  position: absolute;
  bottom: 0px;
  left: 0%;
  overflow: hidden;
  width: 100%;
  display: flex;
}
.text-slider h1{
  display: inline-block;
  font-size: 12em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #eee;
}
.text-slider h1:first-child{
  animation: loop 60s -30s linear infinite;
  margin-right: 100px;
}
.text-slider h1:last-child{
  animation: loop2 60s linear infinite;
}
@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-110%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-220%);
  }
}

.about-message {
  position: absolute;
  top: 45%;
  left: 200px;
  transform: translateY(-50%);
  padding: 50px;
  color: #284356;
  font-size: 21px;
}
.about-message span{
  display: inline-block;
  background-image: linear-gradient(to top, #FFF 0%, transparent 35%, transparent 100%);
  margin-bottom: 5px;
  padding: 5px;
}

@media all and (max-width: 768px) {
  .text-slider h1{
    font-size: 68px;
  } 
  .about-message {
    position: absolute;
    top: 120px;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0%);
    padding: 0px;
    font-size: 12px;
  }
}