/* 
=========================================
home
========================================= 
*/

.header {
  position: absolute;
  top: 70px;
  left: 70px;
  z-index: 2;
  display: inline-flex;
  align-items: center;
}
.logo {
  margin-right: 20px;
}
.home-container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/top01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.menu {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.menu span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;   
  transition: .5s;
  pointer-events: none;
}
.menu span:nth-of-type(1){
  animation: menu 6s linear infinite;
}
.menu span:nth-of-type(2){
  animation: menu 4s linear infinite;
}
.menu span:nth-of-type(3){
  animation: menu2 10s linear infinite;
}
.menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@keyframes menu {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes menu2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-btn::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  z-index: -1;
}
.lists {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}
.list {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list ul li {
  font-size: 36px;
  margin-bottom: 20px;
  overflow: hidden;
}
.list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  z-index: -1;
  opacity: 0;
  transition: 1s;
}
.list ul li:hover::before {
  opacity: 1;
}
.list ul li:nth-of-type(1):hover::before {
  background-color: rgb(252, 0, 0, .1);
}
.list ul li:nth-of-type(2):hover::before {
  background-color: rgb(0, 4, 252, .1);
}
.list ul li:nth-of-type(3):hover::before {
  background-color: rgb(0, 252, 55, .1);
}
.list ul li:nth-of-type(4):hover::before {
  background-color: rgba(252, 134, 0, .1);
}
.list ul li:nth-of-type(5):hover::before {
  background-color: rgb(248, 252, 0, .1);
}
.list ul li a{
  text-transform: uppercase;
  display: block;
  color: #aaa;
  transition: .5s;
  transform: translateY(100px);
}
.list ul li a:hover {
  color: #fff;
}
.listImage {
  width: 0;
  height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}
.listImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-btn div {
  display: inline-block;
  width: 1px;
  height: 30px;
  background: #fff;
  margin: 0 5px;
}
.menu-btn div:nth-of-type(3) {
  height: 15px;
  align-self: flex-start;
}
.menu-btn div:nth-of-type(1).open {
  animation: open1 1s forwards;
}
.menu-btn div:nth-of-type(1).close {
  animation: close1 1s forwards;
}
.menu-btn div:nth-of-type(2).open {
  animation: open2 1s forwards;
}
.menu-btn div:nth-of-type(2).close {
  animation: close2 1s forwards;
}
.menu-btn div:nth-of-type(3).open {
  animation: open3 1s forwards;
}
.menu-btn div:nth-of-type(3).close {
  animation: close3 1s forwards;
}

@keyframes open1 {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(11px) rotate(0deg);
  }
  100% {
    transform: translateX(11px) rotate(30deg);
  }
}
@keyframes close1 {
  0% {
    transform: translateX(11px) rotate(30deg);
  }
  50% {
    transform: translateX(11px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes open2 {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(-30deg);
  }
}
@keyframes close2 {
  0% {
    transform: translateX(0px) rotate(-30deg);
  }
  50% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes open3 {
  0% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateX(-11px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-11px) rotate(0deg);
    opacity: 0;
  }
}
@keyframes close3 {
  0% {
    transform: translateX(-11px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(-11px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

.home-capture {
  position: absolute;
  bottom: 100px;
  left: 200px;
  color: #fff;
}
.home-capture span{
  font-size: 10px;
  display: block;
  margin-bottom: 50px;
} 
.home-capture div{
  overflow: hidden;
}
.home-capture h1{
  font-family: var(--en-font);
  text-transform: uppercase;
  font-size: 5rem;
  background-image: url(../img/top01.jpeg);
  background-position: bottom;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; 
  font-weight: 500;
  overflow: hidden;
}
.home-capture h3{
  font-family: var(--ja-font);
  /* background-image: url(../img/top01.jpeg);
  background-position: bottom;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;  */
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 30px;
  overflow: hidden;
}
.reserve-bannar {
  position: absolute;
  bottom: 100px;
  right: 0;
}
.reserve-bannar p a {
  display: block;
  padding: 15px;
}
.reserve-bannar p {
  writing-mode: vertical-lr;
  background-color: rgba(0, 0, 0, .5);
}
.trans {
  transform: translateX(0%);
}

.fadein {
  animation : fadeIn 1.5s;
  filter: blur(12px);
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(12px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}